/*********************/
/*	FEUILLE DE STYLE  /
/*********************/

/*

Fichier : styles.css
Créé le : 12/05/2017
Modifié le : 24/05/2017
Responsable : Clément KOCH

*/

/* POUR TOUTES LES VUES */

body {
	height: 100%;
	background-color: rgb(250, 250, 250);
	font-family: 'Ubuntu', sans-serif;
	color : rgb(100, 100, 100);
	font-size: 1.2em;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a, a:hover {
	color: inherit;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

	/* Composants */

	.bouton {
		width: 100px;
		height : 25px;
		border-radius: 15px;
		background-color: rgb(254, 133, 24);
		color : white;
		text-align : center;
		padding : 3px;
		border : 0px solid black;
		font-size: 12px;
		cursor: pointer;
	}

	.boutonPetit {
	    width: 60px;
	    border-radius: 15px;
	    background-color: rgb(254, 133, 24);
	    color : white;
	    text-align : center;
	    padding : 3px;
	    border : 0px solid black;
	    font-size: 12px;
	}

	.barreRecherche {
		width: 100%;
		border-radius: 15px;
		border : 1px solid rgb(254, 133, 24);
	}

	.photoProfil {
		border : 5px solid rgb(254, 133, 24);
		border-radius: 50%;
		height : 200px;
		width: 200px;
		float : center;
	}

	.bandeau {
		padding-left: 2%;
		font-size: 1.5em;
		border-radius: 50px;
	}

	/* Fonds */

	.fondGris {
		background-color: rgb(240, 240, 240);
	}

	.fondBlanc {
		background-color: rgb(250, 250, 250);
	}

	.fondOrange {
		background-color: rgb(254, 133, 24);
	}

	.fondRouge {
		background-color: rgb(198, 84, 87);
	}

	.fondVert {
        background-color: rgb(100, 210, 100);
    }

    .fondBleu {
        background-color: rgb(100, 100, 250);
    }

	/* Bordures */

	.bordureDroite {
		border-right: 2px solid rgb(210, 210, 210);
	}

	.bordureBas {
		border-bottom: 2px solid rgb(210, 210, 210);
	}

	.bordureHaut {
		border-top: 2px solid rgb(210, 210, 210);
	}

	.bordureGauche {
		border-left: 2px solid rgb(210, 210, 210);
	}

	/* Alignements */

	.alignementDroit {
		text-align: right;
	}

	.alignementVerticalCentre {
		vertical-align: center; 
	}

	.alignementCentre {
		text-align: center;
	}

	.positionnementDroit {
		float: right;
	}

	/* Formatage du texte */

	.texteRouge, .texteRouge:hover {
		color : rgb(198, 84, 87);
	}

	.texteOrange {
 		color : rgb(254, 133, 24);
 	}

 	.texteVert {
 		color : rgb(100, 210, 100);
 	}

 	.texteBleu {
 		color : rgb(100, 100, 250);
 	}

 	.texteGris {
 		color : rgb(192, 192, 192);
 	}

 	.texteNoir {
 		color : rgb(50, 50, 50);
 	}

	.gras {
		font-weight: bold;
	}

	.italique {
		font-style: italic;
	}

	.titreVue {
		font-size: 4.5em;
		color : rgb(192, 192, 192);
		margin-top : 3%;
		margin-left : 3%;
	}

	.titre2 {
		font-size: 3em;
	}

	.titre3 {
		font-size: 2em;
	}

	.titre4 {
		font-size: 1.5em;
	}

	.petitTexte {
		font-size : 0.7em;
	}

	/* Décalages */

	.decalageHaut1 {
		margin-top: 5%;
	}

	.decalageHaut2 {
		margin-top: 10%;
	}

	.decalageBas1 {
		margin-bottom: 5%;
	}

	.decalageBasNegatif1 {
		margin-bottom: -5%;
	}

	.decalageHautBas {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .decalageDroite1 {
		margin-left: 3%;
	}

	.paddingDroite0 {
		padding-left: 0;
	}

	.alignementEnLigne {
		display: inline-block;
	}

	/* Changement pout les ecrans */
	@media(min-width:768px){

		.telephone {
			display: none;
		}

		.tableau {
			font-size : 1em;
		}
	}

	/* Changement pout les smartphones */
	@media(max-width:768px){

		.titreVue {
			font-size: 3em;
			margin : 5%;
		}
		.ordinateur {
			display: none;
		}

		.tableau {
			font-size : 0.9em;
		}

		.bordureBas {
			border-bottom: 1px solid rgb(210, 210, 210);
		}

		.bordureDroite {
			border-right: 0;
		}

		.bandeau {
			padding-left: 2%;
			font-size: 1em;
			border-radius: 50px;
		}

		.titre4 {
			font-size: 1.2em;
		}

		body {
			font-size: 1em;
		}

		.decalageHautBas {
	        margin-top: 3%;
	        margin-bottom: 3%;
	    }

	    .boutonPetit {
		    width: 40px;
		    border-radius: 15px;
		    color : white;
		    text-align : center;
		    padding : 3px;
		    border : 0px solid black;
		    font-size: 7px;
		}
	}

/* POUR L'ENTETE */

.entete {
	font-size: 1.2em;
	text-align: right;
	padding: 1%;
}

.ligneBouton {
	line-height: 20px;
}

.ligneEntete {
	line-height: 50px;
}

.boutonMenuDeroulant {
	background-color: rgb(110, 110, 110);
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: white;
	border-radius: 10px;
	font-size : 0.7em;
	text-align: center;
	cursor: pointer;
}

	/* Changement pout les smartphones */
	@media(max-width:767px){

		.entete {
			font-size : 1.5em;
			padding: 5%;
			width : 100%;
			border-right: 2px solid rgb(210, 210, 210);
			border-left: 2px solid rgb(210, 210, 210);
		}
	}

	/* Changement pout les ecran */
	@media(min-width:767px){

		.entete {
			position: fixed;
			top :0;
			left : 0;
			width : 100%;
			z-index: 1;
			border-bottom: 2px solid rgb(210, 210, 210);
		}

		.ligneBouton {
			float: left;
		}
	}

/* POUR LE PANNEAU LATERAL */

.panneauLateral {
	font-size : 1.1em;
}

.boutonMenu {
	padding : 5%;
	border-bottom: 1px solid rgb(230, 230, 230);
	transition-duration: 0.5s;
}

.boutonMenu:hover {
	background-color: rgb(255, 229, 215);
}

.boutonMenu:active {
	background-color: rgb(225, 189, 175);
}

.nombreMenu {
	padding: 1%;
	color : white;
	text-align: center;
	font-size: 0.7em;
	width : 40px;
	border-radius: 15px;
	float: right;
}

.iconeMenu {
	text-align: center;
	width : 30px;
	float: right;
}

	/* Changement pout les smartphones */
	@media(max-width:767px){

		.blocMenuHaut {
			border-top: 2px solid rgb(210, 210, 210);
		}

		.boutonMenu {
			background-color: rgb(225, 225, 225);
		}

		.boutonMenu {
			border-bottom: 1px solid rgb(250, 250, 250);
		}

		.panneauLateral {
			display: none;
		}

	}

	/* Changement pour les écrans */
	@media(min-width:768px){


		.blocMenu {
			margin-top: 20%;
			border-top: 1px solid rgb(230, 230, 230);
		}

		.blocMenuHaut {
			margin-top: 40%;
			border-top: 1px solid rgb(230, 230, 230);
		}

		.panneauLateral {
			height: 100vh;
			min-height: 480px;
			border-right: 2px solid rgb(210, 210, 210);
			position : fixed;
			left : 0;
			width : 25%;
		}
	}

/* POUR LA PAGE DE MODIFICATION DU MOT DE PASSE */

.texteFormulaire {
    font-size: 1.5em;
    text-align: right;
}

	/* Changement pour les smartphones */
	@media(max-width:767px){

		.texteFormulaire {
	        font-size: 1em;
	        text-align: left;
	    }
	}

/* POUR LA PAGE DE CONNEXION */

@media(max-width:768px){
    .decalBas {
        margin-top: 40%
    }
}


/* POUR LA PAGE DE NOTIFICATION*/

.texteNotif {
    font-size: 1.5em;
}

/* Changement pour les smartphones */
	@media(max-width:767px){

		.texteNotif {
	        font-size: 1em;
	    }

	    .detailNotif {
			font-size: 0.7px;
		}
	}

/* POUR LA PAGE QUOTA UE */

.boutonSupprimer {
    width: 7px;
    height : 7px;
    background-color: red;
    color : black;
    text-align : center;
    border : 1px solid black;
    font-size: 12px;
    cursor: pointer;
}